<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar" style="background:orange"></span>
        <span class="icon-bar" style="background:ghostwhite"></span>
        <span class="icon-bar" style="background:lightgreen"></span>                      
      </button>
      <a class="navbar-brand" style="color:skyblue" routerLink="/" routerLinkActive="active"> TCS🍃Air </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a routerLink="/home"><span class="glyphicon glyphicon-home"></span> Home</a></li>
        <li><a routerLink="/about"><span class="glyphicon glyphicon-exclamation-sign"></span> About</a></li>
        <li><a routerLink="/plans"><span class="glyphicon glyphicon-star"></span> Plans</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/register"><span class="glyphicon glyphicon-user"></span> Register</a></li>
        <li><a routerLink="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>