.navbar-brand{
    color: black;
}
.navbar{
    background-color: #D1EEEE;
    margin-bottom: 0!important;
    border: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}
:host{
    position: fixed;
    z-index: 2;
    width: 100%;
    overflow: hidden;
    top: 50px;
}