<div class="content">
    <div class="card">
        <form>
            <label class="field">Mobile</label><input class="field" id="mobile" [(ngModel)]="mobile" type="text" name="mobile"><br/>
            <label class="field">Username</label><input class="field" id="username" type="text"><br/>
            <label class="field">DOB</label><input class="field" id="dob" type="date"><br/>
            <label class="field">Email</label><input class="field" id="email" type="email"><br/>
            <button type="reset" class="btn field">Reset</button> <button type="button" class="btn field">Submit</button>
        </form>
    </div>
</div>
