<div class="content">
    <form>
    <label class="field">Employee ID</label><input class="field" id="employeeid" type="text"><br/>
    <label class="field">Old Password</label><input class="field" id="oldpassword" type="password"><br/>
    <label class="field">New Password</label><input class="field" id="newpassword" type="password"><br/>
    <label class="field">Confirm Password</label><input class="field" id="confirmpassword" type="password"><br/>
    <div class="field"><input class="btn btn-secondary" type="reset" value="Reset"></div><div class="field"><input class="btn btn-success" type="button" value="Submit" (click)="changePassword()"></div>
    </form>
</div>