<div class="content">
    <h3>TCS~Air-A product from TATA</h3>
    <p>
                    Tata Sons Limited is the holding company of the Tata Group and holds the bulk of shareholding in the Tata group of companies including their land holdings across India, tea estates and steel plants.
        Tata sons limited was established as a trading enterprise in 1868, engaged primarily in the lucrative opium and tea trade with Mongolia & China. About 66% of the equity capital of Tata Sons is held by philanthropic trusts endowed by members of the Tata family. The biggest two of these trusts are the Sir Dorabji Tata Trust and Sir Ratan Tata Trust. 
        Tata Sons is the owner of the Tata name and the Tata trademarks, which are registered in India and several other countries. It is one of the largest conglomerates in South Asia.
        Natarajan Chandrasekaran took over as Chairman of Tata Sons on 21 February 2017. The company also undertook conversion from a public limited company to a private limited one in 2017; the decision remains pending with NCLAT, as of August 2018.
    </p>
    <h3> Founders </h3>
    <table align="center">
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Age
            </th>
            <th>
                Designation
            </th>
        </tr>
        <tr *ngFor="let founder of founders">
            <td>{{founder.id}}</td>
            <td>{{founder.name}}</td>
            <td>{{founder.age}}</td>
            <td>{{founder.designation}}</td>
        </tr>
    </table>
</div>